.html{
	font-size: :;
	size:;
	font-family:;
	color:black;
	height:100%;

}
body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
  background:url("https://i.pinimg.com/originals/e9/01/56/e9015679f4c23898f6d49e52240fd5f5.jpg");
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.v{
	width:150px;
	height: 150px;
	border:2px solid red;
	border-radius: 5px;
	border: 1px solid black;
  float:center;
  }
.c{

  width:200px;
  height: 175px;
  border:2px solid red;
  border-radius: 5px;
  border: 1px solid black;
  float:center;
  }
.s{

  width:199px;
  height: 185px;
  border:3px solid red;
  border-radius: 6px;
  border: 2px solid black;
  float:center;
  }
  .m{
height: 175
  border-radius: 5px;
  size:50;
  font-size:150%;
  }
.cuadro{
	width:200px;
	height:200px;
	background-color:blue;
	border:1px solid black;
	display:none;
}
.cuadroCategoria {
	padding: 5px;
}

.cuadro {
	border: 2px solid black;
	border-radius: 2.5px;
	height: 150px
	color:red;
	background-color: blue
}